body {
    font-family: 'Avenir', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color : white;
    margin: .5rem;
    padding: 1rem;
    flex-direction: column;
}